<launch>
  <node name="robot_state" pkg="base" type="robot_state" output="screen">
    <param name="wheelbase" value="0.4"/>
    <param name="wheelDiameter" value="0.12"/>
    <param name="pulsePerRevolution" value="20"/>
    <param name="gearRatio" value="0.0416667"/>
    <param name="kp" value="0.10"/>
    <param name="ki" value="0.30"/>
    <param name="kd" value="0.00"/>
    <param name="flipEncoderRight" value="true"/>
  </node>
</launch>